![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
# Desafio 1:

### Grupo 6:
- Ruiz Martínez,Santiago
- Fairhurst, Guillermo
- Castellari, Diego
- Ripoll, Rodrigo

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)
## Importamos las bibliotecas que vamos a utilizar:

In [1]:
import os
import numpy as np
import pandas as pd
import re
import math
import seaborn as sns
import matplotlib.pyplot as plt

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)
## Step 1: Importamos el Dataframe de Properatti y realizamos primeras observaciones:

In [2]:
df = pd.read_csv('properatti.csv')

In [3]:
pd.set_option("display.max_columns", None)  # para poder ver todas las columnas
df.head(3)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,-58.508839,62000.0,USD,1093959.0,62000.0,55.0,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,-57.964330,150000.0,USD,2646675.0,150000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,-58.522982,72000.0,USD,1270404.0,72000.0,55.0,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...

In [4]:
print('Columnas:                     Count:          dtype:')
print('-'*55)

df.info()

Columnas:                     Count:          dtype:
-------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121220 entries, 0 to 121219
Data columns (total 26 columns):
Unnamed: 0                    121220 non-null int64
operation                     121220 non-null object
property_type                 121220 non-null object
place_name                    121197 non-null object
place_with_parent_names       121220 non-null object
country_name                  121220 non-null object
state_name                    121220 non-null object
geonames_id                   102503 non-null float64
lat-lon                       69670 non-null object
lat                           69670 non-null float64
lon                           69670 non-null float64
price                         100810 non-null float64
currency                      100809 non-null object
price_aprox_local_currency    100810 non-null float64
price_aprox_usd               100810 non-null float64
surface_total_in_m2           81892 non-null float64
surface_covered_in_m2         101313 non-null float64
price_usd_per_m2              68617 non-null float64
price_per_m2                  87658 non-null float64
floor                         7899 non-null float64
rooms                         47390 non-null float64
expenses                      14262 non-null float64
properati_url                 121220 non-null object
description                   121218 non-null object
title                         121220 non-null object
image_thumbnail               118108 non-null object
dtypes: float64(13), int64(1), object(12)
memory usage: 24.0+ MB

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)
## Step 2: health check

Realizamos un primer análisis exploratorio del dataset, buscamos ver que informacion es relevante y detectamos información faltante que pueda llegar a ser completada utilizando otros campos

__**Primeras observaciones:**__  
1) Para el presente ejercicio, las siguientes columnas pueden ser eliminadas:  
  - `Unnamed: 0`: repite la informacion del indice autogenerado por pandas   
  - `country`: se puede eliminar porque todas las propiedades son de Argentina.  
  - `geonames_id`: no encontramos relevancia sobre la columna ya que la informacion geografica faltante puede obtenerse de la columna `place_name`  
  - `lat-lon`: consolida a las columnas `lat` y `lon`. Consideramos de mayor utilidad dejar la información de latitud y longitud por separado por lo que se puede eliminar y asi evitar redundancia. Los datos faltantes de `lat` y `lon` pueden obtenerse de la columna `place_name` como se mencionó anteriormente.  
  - `properati_url`: carece de utilidad para el presente ejercicio  
  - `image_thumbnail` carece de utilidad para el presente ejercicio  
  
2) las columnas `operation`, `property_type` y `currency` puede cambiarse el tipo de dato a "categorical" para optimizar el uso de memoria.  
3) la columna `rooms` puede ser completada aplicando regex sobre las columnas `description` y `title`.  
4) `place_with_parent_names` agrupa a las columnas `country`, `state_name` y `place_name` de esta primera se pueden completar los 23 campos faltantes de `place_name` que casualmente son "Tigre".   
5) trabajamos con las columnas de precios.  
6) detectamos outliers.  
7) Observamos que todas las columnas con datos quantitativos estan en formato float, por lo que no requieren acciones adicionales.

.

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)
### 2.1 Limpieza del Dataset

In [5]:
# guardamos 1 copia del original
df_orig = df.copy()

#### 2.1.1 Eliminamos las columnas innecesarias:

In [6]:
# la columna 'Unnamed: 0'es un indice es innecesaria, la eliminamos
df = df.drop(['Unnamed: 0','country_name','geonames_id','lat-lon','properati_url','image_thumbnail'], axis=1)

#### 2.1.2 Cambiar el tipo de datos a categorico cuando corresposonde.  
La columna `operations` posee un unico valor: sell. Como la hoja de consigna indica que potencialmente puede tomar 2 posibles 
valores (sell/rent) no eliminamos la columna, pero la hacemos del tipo category.  
Hacemos lo mismo con las columnas `property_type` y `currency`.

In [7]:
df['operation'] = df['operation'].astype('category')
df['property_type'] = df['property_type'].astype('category')
df['currency'] = df['currency'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121220 entries, 0 to 121219
Data columns (total 20 columns):
operation                     121220 non-null category
property_type                 121220 non-null category
place_name                    121197 non-null object
place_with_parent_names       121220 non-null object
state_name                    121220 non-null object
lat                           69670 non-null float64
lon                           69670 non-null float64
price                         100810 non-null float64
currency                      100809 non-null category
price_aprox_local_currency    100810 non-null float64
price_aprox_usd               100810 non-null float64
surface_total_in_m2           81892 non-null float64
surface_covered_in_m2         101313 non-null float64
price_usd_per_m2              68617 non-null float64
price_per_m2                  87658 non-null float64
floor                         7899 non-null float64
rooms                         47390 non-null float64
expenses                      14262 non-null float64
description                   121218 non-null object
title                         121220 non-null object
dtypes: category(3), float64(12), object(5)
memory usage: 16.1+ MB

__**nota:**__ se redujo el espacio en memorio del dataset en 8MB (33%) lo cual hara mas eficiente todas las operaciones a continuación

#### 2.1.3 inferir valores faltantes del feature 'room' 
A continuación vamos a completar la informacion faltante de la columna `rooms` con la informacion que pueda obtenerse de las columnas `description` y `title`.  
Para ello vamos a utilizar la libreria ***re***

Definmos una funcion `cant_amb()` que utilizaremos para obtener la cantidad de ambientes mencionadas en la columnas de `description` y `title`.

In [8]:
def cant_amb(text):
    ambRegex = re.compile(r'''
        (mono)     #intento matchear monoambiente
        \s?
        amb.?\w*
        |          # o
        (\d)       # cantidad de ambientes
        \s?        # espacio - puede estar o no -
        amb.?\w*   # segido por amb, amb. o ambiente
        ''', re.VERBOSE | re.IGNORECASE)
    try:
        mo = ambRegex.search(text)
        #print(mo.group(1))
        if mo.group(1) != None:
            return 1
        if mo.group(2) != None:
            return int(mo.group(2))
    except:
        return np.nan

In [9]:
# extraemos la cantidad de ambientes mencionados en las columnas descriptivas.
amb = df[['description','title']].applymap(lambda x: cant_amb(x))
amb.head()

   description  title
0          2.0    2.0
1          NaN    NaN
2          2.0    2.0
3          3.0    3.0
4          NaN    2.0

In [10]:
amb = pd.concat([amb, df['rooms']], axis=1)

#consolidamos la informacion extraida de las columnas descriptivas en una nueva variable amb_unif
amb['unif'] = amb.apply(lambda x: math.ceil(x.sum()/x.count()) if x.count() != 0 else np.nan,axis=1)

In [11]:
#consolidamos la informacion extraida de las columnas descriptivas en una nueva variable amb_unif
amb_unif = amb.apply(lambda x: x.sum()/x.count() if x.count() != 0 else np.nan,axis=1)

In [12]:
amb['unif'].count()

73291

Vemos que previamente a este ejercicio teníamos 52,004 campos con valores para la columna `room` y luego del ejercicio tenemos 73,291 (logramos recuperar un 40% de datos adicionales a los dators originales sobre la columna room.

In [13]:
df['room']= amb['unif']

.

#### 2.1.4 Trabajamos sobre los features `place_with_parent_names` , `country`, `state_name` y `place_name`  
`place_with_parent_names` agrupa a las columnas `country`, `state_name` y `place_name` de esta primera se pueden completar los 23 campos faltantes de `place_name` que casualmente son "Tigre".  

Ahora analisamos los 23 campos de la columna `place_name` que estan vacios. 
Se observa que todos los valores deben ser completados con *"Tigre"*

In [14]:
mask = df['place_name'].isnull()
display(df[mask])

,operation,property_type,place_name,place_with_parent_names,state_name,lat,lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,description,title,room
6489,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.400897,-58.638098,650000.0,USD,11468925.0,650000.0,240.0,240.0,2708.333333,2708.333333,NaN,NaN,NaN,"Espectacular casa moderna de una planta, con a...",Venta de casa en Santa María de Tigre,NaN
10201,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.400704,-58.638067,535000.0,USD,9439807.5,535000.0,NaN,300.0,NaN,1783.333333,NaN,5.0,NaN,Corredor Responsable: SABRINA COCCONI - CSI 62...,VENTA CASA SANTA MARÍA DE TIGRE COUNTRY BARRIO...,5.0
11451,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.402688,-58.626261,550000.0,USD,9704475.0,550000.0,2170.0,270.0,253.456221,2037.037037,NaN,NaN,NaN,MUY LINDA CASA EN EXCELENTE UBICACION!! Superf...,SANTA MARIA DE TIGRE IMPECABLE,NaN
14839,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.400799,-58.638174,480000.0,USD,8469360.0,480000.0,240.0,200.0,2000.000000,2400.000000,NaN,NaN,NaN,Muy linda casa de estilo clásico.-Planta baja;...,Venta de casa en Santa María de Tigre,NaN
18622,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.403278,-58.626350,1297000.0,USD,22884916.5,1297000.0,340.0,340.0,3814.705882,3814.705882,NaN,NaN,NaN,Casa con increible vista al lago con playa de...,Casa con increible vista al lago con playa y m...,NaN
21922,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.399704,-58.638405,440000.0,USD,7763580.0,440000.0,NaN,220.0,NaN,2000.000000,NaN,5.0,NaN,Corredor Responsable: Matias Castelli - CUCICB...,Venta Casa - Barrio Santa Maria de Tigre,5.0
23664,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.400516,-58.641800,480000.0,USD,8469360.0,480000.0,294.0,294.0,1632.653061,1632.653061,NaN,NaN,NaN,EXCELENTE CASA CLASICA con grandes ventanas y ...,CASA EN VENTA EN SANTA MARIA DE TIGRE CON RENTA,NaN
24722,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.400729,-58.637778,530000.0,USD,9351585.0,530000.0,316.0,270.0,1677.215190,1962.962963,NaN,NaN,NaN,"EN EXCLUSIVIDAD!!!!!!Lindísima casa, muy lumin...",Venta de casa en Santa María de Tigre,NaN
38856,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.425087,-58.579659,1350000.0,USD,23820075.0,1350000.0,NaN,550.0,NaN,2454.545455,NaN,NaN,NaN,SANTA MARIA DE TIGRE- AL RIO - ESPECTACULAR CA...,"Casa (barrio cerrado), Venta",NaN
45970,sell,apartment,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.396074,-58.637380,95000.0,USD,1676227.5,95000.0,55.0,27.0,1727.272727,3518.518519,NaN,1.0,NaN,"EDIFICIO ZERENA – EL PALMAR, NORDELTA. Torre 2...",Excelente monoambiente. Barrio El Palmar. Con...,2.0
46642,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.400749,-58.638754,1470000.0,USD,25937415.0,1470000.0,NaN,20.0,NaN,73500.000000,NaN,6.0,NaN,Corredor Responsable: Matias Castelli - CUCICB...,Venta de Casa al rio,6.0
53130,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.400978,-58.637809,630000.0,USD,11116035.0,630000.0,1000.0,370.0,630.000000,1702.702703,NaN,NaN,NaN,Excelente casa en Venta en B° Santa Maria de T...,Casa en Venta,NaN
55306,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.399631,-58.643312,470000.0,USD,8292915.0,470000.0,254.0,204.0,1850.393701,2303.921569,NaN,NaN,NaN,Muy linda casa de dos plantas en lote interno ...,Santa María de Tigre. Casa con amarra.,NaN
57703,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.390337,-58.633690,650000.0,USD,11468925.0,650000.0,230.0,230.0,2826.086957,2826.086957,NaN,NaN,NaN,Espectacular casas moderna con amplio jardín s...,SANTA MARIA DE TIGRE 100,NaN
57759,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.395968,-58.630772,580000.0,USD,10233810.0,580000.0,360.0,360.0,1611.111111,1611.111111,NaN,NaN,NaN,Incluye una amarra de U$S 30.000 con elevador ...,SANTA MARIA DE TIGRE 100,NaN
57764,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.396358,-58.626137,970000.0,USD,17115165.0,970000.0,425.0,391.0,2282.352941,2480.818414,NaN,NaN,NaN,IMPECABLE ! Sobre la laguna con excelente orie...,SANTA MARIA DE TIGRE 100,NaN
57793,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.396287,-58.629227,760000.0,USD,13409820.0,760000.0,250.0,250.0,3040.000000,3040.000000,NaN,NaN,NaN,Súper cálida y agradable. Ubicada en uno de lo...,SANTA MARIA DE TIGRE 100,NaN
58004,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.391046,-58.636179,550000.0,USD,9704475.0,550000.0,266.0,230.0,2067.669173,2391.304348,NaN,NaN,NaN,Casa clásica muy cómoda.PLANTA BAJA: Hall de e...,SANTA MARIA DE TIGRE 100,NaN
58037,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.393153,-58.631973,590000.0,USD,10410255.0,590000.0,320.0,320.0,1843.750000,1843.750000,NaN,NaN,NaN,Excelente casa ubicada en uno de la a pocos ba...,SANTA MARIA DE TIGRE 100,NaN
59069,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.400849,-58.638179,640000.0,USD,11292480.0,640000.0,NaN,248.0,NaN,2580.645161,NaN,5.0,NaN,Corredor Responsable: Matias Castelli - CUCICB...,CASA EN VENTA AL AGUA EN SANTA MARIA DE TIGRE,5.0
62411,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.396485,-58.635878,340000.0,USD,5999130.0,340000.0,170.0,170.0,2000.000000,2000.000000,NaN,4.0,NaN,"Hermosa casa en lote perimetral, Excelente cal...",VENTA CASA A ESTRENAR EN LAS TIPAS NORDELTA,4.0
62413,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.396485,-58.635878,419000.0,USD,7393045.5,419000.0,250.0,200.0,1676.000000,2095.000000,NaN,5.0,NaN,Muy linda casa a estrenar sobre lote perimetra...,Muy linda casa a estrenar en Las Tipas,5.0
63849,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.394520,-58.632501,400000.0,USD,7057800.0,400000.0,140.0,140.0,2857.142857,2857.142857,NaN,5.0,NaN,Casa estilo colonial de una planta sobre lote ...,Oportunidad! Casa en La Alameda,5.0

In [15]:
df.loc[df['place_name'].isnull(),'place_name']='Tigre'
display(df[mask].head(3))

,operation,property_type,place_name,place_with_parent_names,state_name,lat,lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,description,title,room
6489,sell,house,Tigre,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.400897,-58.638098,650000.0,USD,11468925.0,650000.0,240.0,240.0,2708.333333,2708.333333,NaN,NaN,NaN,"Espectacular casa moderna de una planta, con a...",Venta de casa en Santa María de Tigre,NaN
10201,sell,house,Tigre,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.400704,-58.638067,535000.0,USD,9439807.5,535000.0,NaN,300.0,NaN,1783.333333,NaN,5.0,NaN,Corredor Responsable: SABRINA COCCONI - CSI 62...,VENTA CASA SANTA MARÍA DE TIGRE COUNTRY BARRIO...,5.0
11451,sell,house,Tigre,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Bs.As. G.B.A. Zona Norte,-34.402688,-58.626261,550000.0,USD,9704475.0,550000.0,2170.0,270.0,253.456221,2037.037037,NaN,NaN,NaN,MUY LINDA CASA EN EXCELENTE UBICACION!! Superf...,SANTA MARIA DE TIGRE IMPECABLE,NaN

__**nota:**__ verificamos que los valores vacios de la columna `place_name` fueron completados correctamente.

Adicionalmente Observamos que la descripcion dentro de `place_with_parent_names` tiene hasta 4 niveles de detalle.  
Manipulamos la columna para quedarnos unicamente con los primeros 3 niveles.
También buscamos uniformizar los nombres de la provincia de Buenos Aires.

In [19]:
def geo_limit(text):
    address_list = text.split('|')
    pais = address_list[1]
    provincia = address_list[2]
    barrio = address_list[3]
    
    if len(barrio)==0: barrio = provincia 
    if 'bs.as' in provincia.lower(): provincia = 'Buenos Aires'
    if 'buenos aires' in provincia.lower(): provincia = 'Buenos Aires'
        

    return barrio.title()+", "+provincia.title()+", "+pais.title()

In [20]:
#probamos la función
geo_limit('|Argentina|buenos aires|palermo|caca|')

'Palermo, Buenos Aires, Argentina'

In [21]:
df['place_with_parent_names'] = df['place_with_parent_names'].apply(geo_limit)

In [22]:
df

,operation,property_type,place_name,place_with_parent_names,state_name,lat,lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,description,title,room
0,sell,PH,Mataderos,"Mataderos, Capital Federal, Argentina",Capital Federal,-34.661824,-58.508839,62000.0,USD,1093959.00,62000.00,55.0,40.0,1127.272727,1550.000000,NaN,NaN,NaN,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,2.0
1,sell,apartment,La Plata,"La Plata, Buenos Aires, Argentina",Bs.As. G.B.A. Zona Sur,-34.903883,-57.964330,150000.0,USD,2646675.00,150000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,NaN
2,sell,apartment,Mataderos,"Mataderos, Capital Federal, Argentina",Capital Federal,-34.652262,-58.522982,72000.0,USD,1270404.00,72000.00,55.0,55.0,1309.090909,1309.090909,NaN,NaN,NaN,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,2.0
3,sell,PH,Liniers,"Liniers, Capital Federal, Argentina",Capital Federal,-34.647797,-58.516424,95000.0,USD,1676227.50,95000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,3.0
4,sell,apartment,Centro,"Mar Del Plata, Buenos Aires, Argentina",Buenos Aires Costa Atlántica,-38.002626,-57.549447,64000.0,USD,1129248.00,64000.00,35.0,35.0,1828.571429,1828.571429,NaN,NaN,NaN,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,2.0
5,sell,house,Gualeguaychú,"Gualeguaychú, Entre Ríos, Argentina",Entre Ríos,-33.014071,-58.519828,NaN,NaN,NaN,NaN,53.0,NaN,NaN,NaN,NaN,NaN,NaN,"Casa en el perímetro del barrio 338, ubicada e...","Casa Barrio 338. Sobre calle 3 de caballería, ...",NaN
6,sell,PH,Munro,"Vicente López, Buenos Aires, Argentina",Bs.As. G.B.A. Zona Norte,-34.532957,-58.521782,130000.0,USD,2293785.00,130000.00,106.0,78.0,1226.415094,1666.666667,NaN,NaN,NaN,MUY BUEN PH AL FRENTE CON ENTRADA INDEPENDIENT...,"MUY BUEN PH AL FRENTE DOS DORMITORIOS , PATIO,...",NaN
7,sell,apartment,Belgrano,"Belgrano, Capital Federal, Argentina",Capital Federal,-34.559873,-58.443362,138000.0,USD,2434941.00,138000.00,45.0,40.0,3066.666667,3450.000000,NaN,NaN,NaN,EXCELENTE MONOAMBIENTE A ESTRENAR AMPLIO SUPER...,JOSE HERNANDEZ 1400 MONOAMBIENTE ESTRENAR CAT...,1.0
8,sell,apartment,Belgrano,"Belgrano, Capital Federal, Argentina",Capital Federal,-34.559873,-58.443362,195000.0,USD,3440677.50,195000.00,65.0,60.0,3000.000000,3250.000000,NaN,NaN,NaN,EXCELENTE DOS AMBIENTES ESTRENAR AMPLIO SUPER...,"JOSE HERNANDEZ 1400 DOS AMBIENTES ESTRENAR ,...",NaN
9,sell,house,Rosario,"Rosario, Santa Fe, Argentina",Santa Fe,-32.942031,-60.725919,460000.0,ARS,455201.45,25798.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MEDNOZA AL 7600A UNA CUADRA DE CALLE MENDOZAWH...,WHITE 7637 - 2 DORMITORIOS CON PATIO,NaN
10,sell,house,Córdoba,"Córdoba, Córdoba, Argentina",Córdoba,-31.420083,-64.188776,70000.0,USD,1235115.00,70000.00,1514.0,NaN,46.235139,NaN,NaN,NaN,NaN,"Hermosa casa sin terminar de 3 dormitorios, ba...",Casa sin terminar en Falda de Cañete. ...,NaN
11,sell,house,San Miguel,"San Miguel, Buenos Aires, Argentina",Bs.As. G.B.A. Zona Norte,-34.539057,-58.719609,150000.0,USD,2646675.00,150000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Entrada de Coche, Jardin, Living en desnivel, ...",CHALET,1.0
12,sell,apartment,Martínez,"San Isidro, Buenos Aires, Argentina",Bs.As. G.B.A. Zona Norte,-34.486019,-58.503814,115000.0,USD,2029117.50,115000.00,39.0,36.0,2948.717949,3194.444444,NaN,NaN,NaN,EXCELENTE DEPARTAMENTO 2 AMBIENTES CONTRAFRENT...,EXCELENTE DEPARTAMENTO 2 AMBIENTES CONTRAFRENT...,2.0
13,sell,apartment,Palermo Soho,"Palermo, Capital Federal, Argentina",Capital Federal,NaN,NaN,111700.0,USD,1970890.65,111700.00,50.0,30.0,2234.000000,3723.333333,NaN,1.0,NaN,Torre I Mondrian. 3 ambientes con terraza y d...,Vitraux Palermo,2.0
14,sell,apartment,Palermo Soho,"Palermo, Capital Federal, Argentina",Capital Federal,NaN,NaN,147900.0,USD,2609621.55,147900.00,42.0,31.0,3521.428571,4770.967742,NaN,1.0,NaN,Torre II Dalí. Ambiente unico divisible.Vitrau...,Vitraux Palermo,1.0
15,sell,house,Bella Vista,"San Miguel, Buenos Aires, Argentina",Bs.As. G.B.A. Zona Norte,-34.587911,-58.698783,250000.0,USD,4411125.00,250000.00,164.0,NaN,1524.390244,NaN,NaN,NaN,NaN,ULTIMA UNIDAD DISPONIBLEHAUS BOULEVARD: Metros...,HAUS VILLAGE / BELLA VISTA / 115m² MAS PATIO /...,NaN
16,sell,PH,Mataderos,"Mataderos, Capital Federal, Argentina",Capital Federal,-34.652356,-58.501624,239000.0,USD,4217035.50,239000.00,140.0,98.0,1707.142857,2438.775510,NaN,4.0,NaN,Ventas Mataderos al frente Duplex 4 amb.- Plan...,VENTA-MATADEROS-DUPLEX 4 AMB.,4.0
17,sell,apartment,Barrio El Golf,"Tigre, Buenos Aires, Argentina",Bs.As. G.B.A. Zona Norte,-34.408717,-58.634389,315000.0,USD,5558017.50,315000.00,176.0,78.0,1789.772727,4038.461538,NaN,3.0,NaN,Excelente 3 ambientes en un 6 piso y con terra...,3 ambientes en venta en Acqua Golf 1 en Nordel...,3.0
18,sell,house,Tigre,"Tigre, Buenos Aires, Argentina",Bs.As. G.B.A. Zona Norte,-34.425087,-58.579659,570000.0,USD,10057365.00,570000.00,270.0,270.0,2111.111111,2111.111111,NaN,NaN,NaN,Casa sobre lote al golf en barrio San Isidro L...,"Casa en venta en barrio San Isidro Labrador, T...",NaN
19,sell,apartment,Palermo,"Palermo, Capital Federal, Argentina",Capital Federal,-34.580504,-58.405874,350000.0,USD,6175575.00,350000.00,104.0,96.0,3365.384615,3645.833333,NaN,3.0,NaN,Excelente semipiso al contra frente en Bulnes ...,"Bulnes y Libertador: espectacular pulmón, con ...",3.0
20,sell,house,Villa Giardino,"Villa Giardino, Córdoba, Argentina",Córdoba,-31.052985,-64.499128,NaN,NaN,NaN,NaN,148.0,148.0,NaN,NaN,NaN,NaN,NaN,"Consta de: Comedor-cocina, cuatro dormitorios ...","Casa con excelente ubicaciòn, calle asfaltada,...",NaN
21,sell,apartment,Palermo,"Palermo, Capital Federal, Argentina",Capital Federal,-34.590926,-58.411665,270500.0,USD,4772837.25,270500.00,118.0,73.0,2292.372881,3705.479452,NaN,4.0,NaN,"EXCELENTE ZONA, MULTIPLES MEDIOS DE TRANSPORTE...",Departamento de 4 ambientes en Venta en Palermo,4.0
22,sell,house,General Rodríguez,"General Rodríguez, Buenos Aires, Argentina",Bs.As. G.B.A. Zona Oeste,-34.650116,-58.966034,290000.0,USD,5116905.00,290000.00,200.0,200.0,1450.000000,1450.000000,NaN,NaN,NaN,Edificada en 2 plantas. PB. amplio living con ...,CASA EN VENTA A ESTRENAR EN EL NACIONAL,NaN
23,sell,apartment,Pilar,"Pilar, Buenos Aires, Argentina",Bs.As. G.B.A. Zona Norte,NaN,NaN,82000.0,USD,1446849.00,82000.00,48.0,42.0,1708.333333,1952.380952,NaN,2.0,NaN,"Hermoso departamento, ubicado en la calle Almi...","Excelente departamento, Impecable!!! APTO CRED...",2.0
24,sell,apartment,Castelar,"Morón, Buenos Aires, Argentina",Bs.As. G.B.A. Zona Oeste,-34.651105,-58.643861,355000.0,USD,6263797.50,355000.00,160.0,160.0,2218.750000,2218.750000,NaN,4.0,NaN,EXCLUSIVO DEPARTAMENTO DE EXCELENTE CATEGORIA...,VENTA DE POZO- DEPTO 4 AMBIENTES- CASTELAR.,4.0
25,sell,apartment,Castelar,"Morón, Buenos Aires, Argentina",Bs.As. G.B.A. Zona Oeste,-34.651105,-58.643861,358550.0,USD,6326435.47,358550.00,160.0,160.0,2240.937500,2240.937500,NaN,4.0,NaN,EXCLUSIVO DEPARTAMENTO DE EXCELENTE CATEGORÍA...,VENTA DE POZO- DEPTO 4 AMBIENTES- CASTELAR.,4.0
26,sell,house,Barrio San Gabriel,"Tigre, Buenos Aires, Argentina",Bs.As. G.B.A. Zona Norte,-34.364092,-58.689735,265000.0,USD,4675792.50,265000.00,230.0,190.0,1152.173913,1394.736842,NaN,NaN,NaN,Casa en venta en complejo Villanueva barrio Sa...,Casa muy linda en San Gabriel Villanueva,NaN
27,sell,house,Estancias del Pilar,"Pilar, Buenos Aires, Argentina",Bs.As. G.B.A. Zona Norte,-34.479486,-58.984541,650000.0,USD,11468925.00,650000.00,425.0,425.0,1529.411765,1529.411765,NaN,NaN,NaN,Estancias propone vivir rodeados de naturaleza...,Excelente Propiedad!!!! en Estancias del Pilar,NaN
28,sell,apartment,Castelar,"Morón, Buenos Aires, Argentina",Bs.As. G.B.A. Zona Oeste,-34.651105,-58.643861,362150.0,USD,6389955.67,362150.00,160.0,160.0,2263.437500,2263.437500,NaN,4.0,NaN,EXCLUSIVO DEPARTAMENTO DE EXCELENTE CATEGORÍA...,VENTA DE POZO- DEPTO 4 AMBIENTES- CASTELAR.,4.0
29,sell,apartment,Flores,"Flores, Capital Federal, Argentina",Capital Federal,-34.635118,-58.473964,75000.0,USD,1323337.50,75000.00,43.0,43.0,1744.186047,1744.186047,NaN,2.0,NaN,Departamento muy luminoso con todos sus ambien...,Departamento en venta floresta,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121190,sell,apartment,Córdoba,"Córdoba, Córdoba, Argentina",Córdoba,NaN,NaN,2714000.0,ARS,2685688.57,152211.09,100.0,NaN,1522.110900,NaN,NaN,NaN,NaN,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba,NaN
121191,sell,apartment,Córdoba,"Córdoba, Córdoba, Argentina",Córdoba,NaN,NaN,1482000.0,ARS,1466540.26,83116.00,50.0,NaN,1662.320000,NaN,NaN,NaN,NaN,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba,NaN
121192,sell,apartment,Córdoba,"Córdoba, Córdoba, Argentina",Córdoba,NaN,NaN,1482000.0,ARS,1466540.26,83116.00,50.0,NaN,1662.320000,NaN,NaN,NaN,NaN,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba,NaN
121193,sell,apartment,Córdoba,"Córdoba, Córdoba, Argentina",Córdoba,NaN,NaN,1859000.0,ARS,1839607.62,104259.55,136.0,NaN,766.614338,NaN,NaN,NaN,NaN,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba,NaN
121194,sell,apartment,Córdoba,"Córdoba, Córdoba, Argentina",Córdoba,NaN,NaN,1487000.0,ARS,1471488.13,83396.42,50.0,NaN,1667.928400,NaN,NaN,NaN,NaN,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba,NaN
121195,sell,apartment,Córdoba,"Córdoba, Córdoba, Argentina",Córdoba,NaN,NaN,1487000.0,ARS,1471488.13,83396.42,50.0,NaN,1667.928400,NaN,NaN,NaN,NaN,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba,NaN
121196,sell,apartment,Córdoba,"Córdoba, Córdoba, Argentina",Córdoba,NaN,NaN,1497000.0,ARS,1481383.87,83957.26,52.0,NaN,1614.562692,NaN,NaN,NaN,NaN,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba,NaN
121197,sell,apartment,Córdoba,"Córdoba, Córdoba, Argentina",Córdoba,NaN,NaN,1497000.0,ARS,1481383.87,83957.26,50.0,NaN,1679.145200,NaN,NaN,NaN,NaN,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba,NaN
121198,sell,apartment,Córdoba,"Córdoba, Córdoba, Argentina",Córdoba,NaN,NaN,1492000.0,ARS,1476436.00,83676.84,50.0,NaN,1673.536800,NaN,NaN,NaN,NaN,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba,NaN
121199,sell,apartment,Córdoba,"Córdoba, Córdoba, Argentina",Córdoba,NaN,NaN,1502000.0,ARS,1486331.74,84237.68,52.0,NaN,1619.955385,NaN,NaN,NaN,NaN,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba,NaN
121200,sell,apartment,Córdoba,"Córdoba, Córdoba, Argentina",Córdoba,NaN,NaN,1498000.0,ARS,1482373.37,84013.34,50.0,NaN,1680.266800,NaN,NaN,NaN,NaN,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba,NaN
121201,sell,apartment,Córdoba,"Córdoba, Córdoba, Argentina",Córdoba,NaN,NaN,1498000.0,ARS,1482373.37,84013.34,50.0,NaN,1680.266800,NaN,NaN,NaN,NaN,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba,NaN
121202,sell,apartment,Córdoba,"Córdoba, Córdoba, Argentina",Córdoba,NaN,NaN,1507000.0,ARS,1491279.61,84518.10,52.0,NaN,1625.348077,NaN,NaN,NaN,NaN,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba,NaN
121203,sell,apartment,Córdoba,"Córdoba, Córdoba, Argentina",Córdoba,NaN,NaN,1502000.0,ARS,1486331.74,84237.68,50.0,NaN,1684.753600,NaN,NaN,NaN,NaN,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba,NaN
121204,sell,apartment,Córdoba,"Córdoba, Córdoba, Argentina",Córdoba,NaN,NaN,1502000.0,ARS,1486331.74,84237.68,50.0,NaN,1684.753600,NaN,NaN,NaN,NaN,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba,NaN
121205,sell,apartment,Córdoba,"Córdoba, Córdoba, Argentina",Córdoba,NaN,NaN,1507000.0,ARS,1491279.61,84518.10,50.0,NaN,1690.362000,NaN,NaN,NaN,NaN,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba,NaN
121206,sell,apartment,Córdoba,"Córdoba, Córdoba, Argentina",Córdoba,NaN,NaN,1507000.0,ARS,1491279.61,84518.10,50.0,NaN,1690.362000,NaN,NaN,NaN,NaN,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba,NaN
121207,sell,house,Escobar,"Escobar, Buenos Aires, Argentina",Bs.As. G.B.A. Zona Norte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,178.0,NaN,NaN,NaN,NaN,3000.0,Puertos- Barrio Vistas - L. 88Casa en venta so...,"Casa en venta Puertos, barrio Vistas",NaN
121208,sell,house,Escobar,"Escobar, Buenos Aires, Argentina",Bs.As. G.B.A. Zona Norte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,178.0,NaN,NaN,NaN,NaN,3000.0,Puertos- Barrio Vistas - L. 88Casa en venta so...,"Casa en venta Puertos, barrio Vistas",NaN
121209,sell,apartment,Belgrano,"Belgrano, Capital Federal, Argentina",Capital Federal,-34.563685,-58.442683,410000.0,USD,7234245.00,410000.00,157.0,NaN,2611.464968,NaN,NaN,NaN,6300.0,Edificio en esquina de muy buena categoría de ...,Av .Luis Maria Campos 1400- Belgrano-Capital F...,NaN
121210,sell,house,Martínez,"San Isidro, Buenos Aires, Argentina",Bs.As. G.B.A. Zona Norte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.0,NaN,NaN,NaN,NaN,NaN,Dos viviendas en block en excelente ubicación ...,Casa - Martinez,NaN
121211,sell,apartment,Acassuso,"San Isidro, Buenos Aires, Argentina",Bs.As. G.B.A. Zona Norte,NaN,NaN,NaN,NaN,NaN,NaN,205.0,205.0,NaN,NaN,NaN,NaN,NaN,Excelente departamento de categoría con vistas...,Departamento - Acassuso,NaN
121212,sell,house,Acassuso,"San Isidro, Buenos Aires, Argentina",Bs.As. G.B.A. Zona Norte,NaN,NaN,NaN,NaN,NaN,NaN,420.0,420.0,NaN,NaN,NaN,NaN,NaN,ESPECTACULAR CASA ESTILO RACIONALISTA EN CALLE...,Casa - Acassuso,NaN
121213,sell,house,Martínez,"San Isidro, Buenos Aires, Argentina",Bs.As. G.B.A. Zona Norte,NaN,NaN,NaN,NaN,NaN,NaN,600.0,600.0,NaN,NaN,NaN,NaN,NaN,EXCELENTE casa en Martinez. Inmejorable ubicai...,Casa - Martinez,NaN
121214,sell,store,San Isidro,"San Isidro, Buenos Aires, Argentina",Bs.As. G.B.A. Zona Norte,NaN,NaN,NaN,NaN,NaN,NaN,123.0,123.0,NaN,NaN,NaN,NaN,NaN,***VENTA CON RENTA***Local en EDIFICIO lomas ...,Local - San Isidro,NaN
121215,sell,apartment,Belgrano,"Belgrano, Capital Federal, Argentina",Capital Federal,NaN,NaN,870000.0,USD,15350715.00,870000.00,113.0,93.0,7699.115044,9354.838710,NaN,NaN,10000.0,TORRE FORUM ALCORTA - MÁXIMA CATEGORÍA.Impecab...,Torre Forum Alcorta- Impecable 3 ambientes,3.0
121216,sell,house,Beccar,"San Isidro, Buenos Aires, Argentina",Bs.As. G.B.A. Zona Norte,NaN,NaN,498000.0,USD,8786961.00,498000.00,360.0,360.0,1383.333333,1383.333333,NaN,NaN,NaN,Excelente e impecable casa en Venta en Las Lom...,Ruca Inmuebles | Venta | Lomas de San Isidro |...,NaN
121217,sell,apartment,Villa Urquiza,"Villa Urquiza, Capital Federal, Argentina",Capital Federal,-34.570639,-58.475596,131500.0,USD,2320251.75,131500.00,46.0,39.0,2858.695652,3371.794872,NaN,NaN,NaN,VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...,VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...,1.0
121218,sell,apartment,Plaza Colón,"Mar Del Plata, Buenos Aires, Argentina",Buenos Aires Costa Atlántica,NaN,NaN,95900.0,USD,1692107.55,95900.00,48.0,48.0,1997.916667,1997.916667,NaN,NaN,NaN,"2 Amb al contrafrente, luminoso. El departame...",2 amb. C/ dep. de servicio al contrafrente| Re...,2.0
121219,sell,apartment,Capital Federal,"Capital Federal, Capital Federal, Argentina",Capital Federal,NaN,NaN,129000.0,USD,2276140.50,129000.00,77.0,77.0,1675.324675,1675.324675,NaN,NaN,3500.0,Departamento de 77 m2 apto profesional. Edific...,Departamento apto profesional en el Centro,NaN

A continuacion creamos una lista con todos los nombres de los barrios, que será utilizada en un futuro para:  
1) a fin de poder capturar sus correspondientes ubicaciones geograficas (lat y lon) y completar en las ocurrencias del dataset que faltasen.  
2) calcular los precios promedio del m2 por barrio.

In [23]:
lista_de_barrios = list(df['place_with_parent_names'].unique())
len(lista_de_barrios)

575

En este punto consideramos que no es necesario conservar la información de las columnas `state_name` y `place_name` ya que de ser necesarias a futuro se pueden recuperar de la columna `place_with_parent_names`

In [24]:
df = df.drop(['state_name','place_name'], axis=1)

.

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

#### 2.1.5 Trabajamos con las columnas de Precios para detectar inconsistencias y completar valores que puedan ser deducidos

Eliminamos las filas que no posen precio ni suficientes datos para inferirlos (ej. no posen precio x metro cuadrado ni superficie)

In [25]:
mask = df['price'].isnull() & df['currency'].isnull() & df['price_aprox_local_currency'].isnull() & df['price_aprox_usd'].isnull() & df['surface_total_in_m2'].isnull() & df['surface_covered_in_m2'].isnull() & df['price_usd_per_m2'].isnull() & df['price_per_m2'].isnull()
print('cantidad de filas antes de eliminar:, ', df['operation'].count())
df.drop(df[mask].index, inplace=True)
print('cantidad de filas despues de eliminar:, ', df['operation'].count())

cantidad de filas antes de eliminar:,  121220
cantidad de filas despues de eliminar:,  116487

creamos una serie con multi-indice para calcular el precio promedio del m2 por barrio, que luego utilizaremos para completar datos faltantes de la columna de precio por m2

In [26]:
ds_precio_prom_barrio = df.groupby(['property_type','place_with_parent_names'])['price_usd_per_m2'].mean()
ds_precio_prom_barrio

property_type  place_with_parent_names
PH             Abasto, Capital Federal, Argentina                       1570.485350
               Agronomía, Capital Federal, Argentina                    1566.441441
               Aguas Verdes, Buenos Aires, Argentina                     545.454545
               Almagro, Capital Federal, Argentina                      1760.360408
               Almirante Brown, Buenos Aires, Argentina                 1386.907236
               Avellaneda, Buenos Aires, Argentina                      1116.759941
               Bahía Blanca, Buenos Aires, Argentina                    1206.016095
               Balcarce, Buenos Aires, Argentina                         412.500000
               Balvanera, Capital Federal, Argentina                    1382.313309
               Barracas, Capital Federal, Argentina                     1233.943049
               Barrio Norte, Capital Federal, Argentina                 2577.079487
               Belgrano, Capital Federal, Argentina                     2304.130413
               Berazategui, Buenos Aires, Argentina                             NaN
               Berisso, Buenos Aires, Argentina                                 NaN
               Boca, Capital Federal, Argentina                         1216.976756
               Boedo, Capital Federal, Argentina                        1319.863508
               Bs.As. G.B.A. Zona Norte, Buenos Aires, Argentina        2060.729825
               Bs.As. G.B.A. Zona Oeste, Buenos Aires, Argentina         520.833333
               Buenos Aires Costa Atlántica, Buenos Aires, Argentina    1017.857143
               Buenos Aires Interior, Buenos Aires, Argentina           1187.500000
               Caballito, Capital Federal, Argentina                    1799.718869
               Campana, Buenos Aires, Argentina                                 NaN
               Capital Federal, Capital Federal, Argentina              1390.587344
               Chacarita, Capital Federal, Argentina                    2039.545539
               Chascomús, Buenos Aires, Argentina                        830.927580
               Cipolletti, Río Negro, Argentina                                 NaN
               Coghlan, Capital Federal, Argentina                      2304.374442
               Colegiales, Capital Federal, Argentina                   1944.464017
               Confluencia, Neuquén, Argentina                          1401.064721
               Congreso, Capital Federal, Argentina                     1683.333333
                                                                           ...
store          Trelew, Chubut, Argentina                                        NaN
               Trenque Lauquen, Buenos Aires, Argentina                         NaN
               Tres Arroyos, Buenos Aires, Argentina                            NaN
               Tres De Febrero, Buenos Aires, Argentina                 1265.429430
               Tribunales, Capital Federal, Argentina                   2094.553210
               Tucumán, Tucumán, Argentina                               469.374992
               Unquillo, Córdoba, Argentina                              771.793700
               Ushuaia, Tierra Del Fuego, Argentina                             NaN
               Uspallata, Mendoza, Argentina                                    NaN
               Velez Sarsfield, Capital Federal, Argentina                      NaN
               Vicente López, Buenos Aires, Argentina                   2338.825643
               Villa Allende, Córdoba, Argentina                        1000.000000
               Villa Carlos Paz, Córdoba, Argentina                     1285.824833
               Villa Crespo, Capital Federal, Argentina                 3130.236041
               Villa Del Parque, Capital Federal, Argentina             2286.017433
               Villa Devoto, Capital Federal, Argentina                 2190.027581
               Villa General Belgrano, Córdoba, Argentina               1638.309296
               Villa Gesell, Buenos Aires, Argentina                     881.054922
               Villa Giardino, Córdoba, Argentina                               NaN
               Villa Icho Cruz, Córdoba, Argentina                       222.222222
               Villa Los Aromos, Córdoba, Argentina                             NaN
               Villa Lugano, Capital Federal, Argentina                 1807.752350
               Villa Luro, Capital Federal, Argentina                   2015.511204
               Villa Mercedes, San Luis, Argentina                              NaN
               Villa Ortuzar, Capital Federal, Argentina                1581.743491
               Villa Real, Capital Federal, Argentina                   1346.153846
               Villa Santa Rita, Capital Federal, Argentina                     NaN
               Villa Soldati, Capital Federal, Argentina                 394.743231
               Villa Urquiza, Capital Federal, Argentina                2296.899929
               Yerba Buena, Tucumán, Argentina                           694.020321
Name: price_usd_per_m2, Length: 1134, dtype: float64

Creamos una funcion `price_usd_m2_fillna` para completar los campos vacios de precio_m2_usd que puedan ser inferidos como el promedio del barrio.  
Para ello utilizamos una mascara para filtrar aquellas filas que tienen un valor para el barrio, pero no tienen un valor para el precio_m2_usd.

In [27]:
mask_precio_m2_null = df['place_with_parent_names'].notnull() & df['price_usd_per_m2'].isnull()

def price_usd_m2_fillna(serie_fila,serie_referencia):
    prop_type = serie_fila['property_type']
    address = serie_fila['place_with_parent_names']
    #print(prop_type)
    #print(address)
    precio_usd_m2_x_proptype_prom = serie_referencia[(prop_type,address)]
    return precio_usd_m2_x_proptype_prom

#testeamos la función.
price_usd_m2_fillna(df.iloc[17,:], ds_precio_prom_barrio)

2403.9641183165736

In [29]:
df.loc[mask_precio_m2_null,'price_usd_per_m2'] = df[mask_precio_m2_null].apply(lambda fila: price_usd_m2_fillna(fila, ds_precio_prom_barrio), axis=1)
df[mask_precio_m2_null].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47870 entries, 1 to 121214
Data columns (total 19 columns):
operation                     47870 non-null category
property_type                 47870 non-null category
place_with_parent_names       47870 non-null object
lat                           26139 non-null float64
lon                           26139 non-null float64
price                         32193 non-null float64
currency                      32192 non-null category
price_aprox_local_currency    32193 non-null float64
price_aprox_usd               32193 non-null float64
surface_total_in_m2           13275 non-null float64
surface_covered_in_m2         37961 non-null float64
price_usd_per_m2              46934 non-null float64
price_per_m2                  24308 non-null float64
floor                         4298 non-null float64
rooms                         19842 non-null float64
expenses                      3195 non-null float64
description                   47868 non-null object
title                         47870 non-null object
room                          26971 non-null float64
dtypes: category(3), float64(13), object(3)
memory usage: 6.3+ MB

Volvemos a tratar de recuperar datos, esta vez obtenemos `price_usd_per_m2` a partir de `price_aprox_usd` y `surface_covered_in_m2`

In [ ]:
mask_precio_m2_null = df['price_aprox_usd'].notnull() & df['surface_covered_in_m2'].notnull() & df['price_usd_per_m2'].isnull()

In [ ]:
df.loc[mask_precio_m2_null,'price_usd_per_m2'] = df.loc[mask_precio_m2_null].apply(lambda fila: fila['price_aprox_usd']/fila['surface_covered_in_m2'], axis=1)

ahora buscamos completar los `price_aprox_usd` a partir de `price_usd_per_m2`

In [ ]:
mask_precio_usd_null = df['price_aprox_usd'].isnull() & df['price_usd_per_m2'].notnull() & df['surface_covered_in_m2'].notnull()
df.loc[mask_precio_usd_null,'price_usd_per_m2'] = df[mask_precio_usd_null].apply(lambda fila: fila['surface_covered_in_m2']*fila['price_usd_per_m2'], axis=1)
df.info()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Análisis precio Venta

In [ ]:
df_ph = df_corr[df_corr['property_type']=='PH'].copy()
df_apartment = df_corr[df_corr['property_type']=='apartment'].copy()
df_house = df_corr[df_corr['property_type']=='house'].copy()
df_store = df_corr[df_corr['property_type']=='store'].copy()

In [ ]:
sns.pairplot(df_house,hue='place_with_parent_names')

In [ ]:
df_corr.corr()

In [ ]:
corr = df_corr.corr()
mask = np.zeros_like(corr, dtype=np.bool)
mask[np.triu_indices_from(mask)] = True

fig, ax = plt.subplots(figsize=(11, 9))
cmap = sns.diverging_palette(220, 10, as_cmap=True)
sns.heatmap(corr, mask=mask, cmap=cmap, vmax=.3, center=0,
            square=True, linewidths=.5, cbar_kws={"shrink": .5})

Una vez que identificamos la correlacion entre variables, podemos ver de que manera estan correlacionadas. Por ejemplo: `price` and `price_per_m2`, `price_aprox_local_currency` and `price_aprox_usd`.

In [ ]:
df.plot(x='price_per_m2', y='price', kind='scatter', figsize=(12, 7))

In [ ]:
df.plot(x='price_aprox_local_currency', y='price', kind='scatter', figsize=(12, 7))

In [ ]:
df.plot(x='price_aprox_usd', y='price', kind='scatter', figsize=(12, 7))

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

__**A continuación vamos a completar la informacion de las columnas `lat` y `lon` con la informacion de `place_name`.**__  
Para ello vamos a utilizar la librerio ***geopy***

1) El primer paso es modificar el formato de la columna `place_with_parent_names` para poder capturar la lat y lon segun el barrio.

In [ ]:
df.loc[:,'place_with_parent_names'] = df.loc[:,'place_with_parent_names'].str.replace('|',',')
df.head()

2) a continuación instalamos la librería ***geopy*** y generamos 3 columnas nuevas:  
- `geopy`  
- `geopy_lat`  
- `geopy_lon`

In [ ]:
#!pip install geopy

In [ ]:
from geopy.geocoders import Nominatim  
nom = Nominatim(user_agent = "my-application")

# definimos una funcion que incorporte el try: / except:
def my_geocode(location):
    print('.',end='')
    try:
        return nom.geocode(location)
    except:
        return None

# probamos que la libreria este funcionando correctamente
display(nom.geocode(',Argentina,Capital Federal,Mataderos,'))
display(my_geocode(',Argentina,Capital Federal,Mataderos,'))

In [ ]:
df.loc[df['lat'].isnull(),'geopy'] = df.loc[df['lat'].isnull(),'place_with_parent_names'].apply(my_geocode)

Obtener la latitud y longitud a partir del nombre del la ubicacion, es un proceso que demora un tiempo considerable corriendo (~4hs). Es por esto que en este punto vamos a guardar el dataset

In [ ]:
df['geopy_lat'] = df['geopy'].apply(lambda x: x.latitude)
df['geopy_lon'] = df['geopy'].apply(lambda x: x.longitude)

In [ ]:
x.

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)
### 2.2 Detección de outliers

In [ ]:
df.describe()

In [ ]:
fig, ax = plt.subplots(figsize=(15, 7))
sns.boxplot(data=df[['price_aprox_usd', 'surface_covered_in_m2']], orient="h", palette="Set2")

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)
### 2.3 Análisis de correlación:

Para el análisis de correlación trabajamos con los tipos de propiedad por separado.  
Adicionalmente eliminamos las columnas de latitud y longitud, etc

In [ ]:
df_corr = df[['property_type', 'place_name', 'place_with_parent_names', 'state_name', 
              'currency', 'price_aprox_usd', 'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2', 'rooms']]

Eliminamos aquellas filas que no tienen precio para que no distorcionen la correlacion.

In [ ]:
mask = df_corr['price_aprox_usd'].isnull()
df_corr.drop(df_corr[mask].index, inplace=True)
df_corr.info()

Eliminamos aquellas filas que no tienen `surface_covered_in_m2` para que no distorcionen la correlacion.

In [ ]:
mask = df_corr['surface_covered_in_m2'].isnull()
df_corr.drop(df_corr[mask].index, inplace=True)
df_corr.info()

In [ ]:
df_corr